<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="app.component.scss">
  <title>Document</title>
</head>
<body>
  <h1>login</h1>
  <form>
    <ul>

      <li>
        <label for="name">Nombre:</label>
        <input type="text" id="name"/>
      </li>

      <li>
        <label for="mail">correo electronico:</label>
        <input type="text" id="mail"/>
      </li>

      <li>
        <label for="password">contraseña:</label>
        <input type="text" id="password">
      </li>

      <button>iniciar sesion</button>
      <button>¿ Has olvidado tu contraseña ?</button>

    </ul>
  </form>
</body>
</html>